{% extends "layout.twig" %}

{% block content %}
    <div class="container">

        {% if userPermission == 2 %}
            <div class="my-info">

                <p class="text-center">
                    ID: {{ currentUser.getId }}
                </p>
                <p class="text-center">
                    Email: {{ currentUser.getEmail }}
                </p>
                <p class="text-center">
                    Фамилия: {{ currentUser.getLastName }}
                </p>
                <p class="text-center">
                    Имя: {{ currentUser.getFirstName }}
                </p>
                <p class="text-center">
                    Отчество: {{ currentUser.getPatronymic ?: "Не указано" }}
                </p>
                <p class="text-center">
                    Университет: {{ currentUser.getUniversity }}
                </p>
                <p class="text-center">
                    Специальность: {{ currentUser.getSpeciality }}
                </p>
                <p class="text-center">
                    Курс: {{ currentUser.getYear }}
                </p>
                <p class="text-center">
                    Телефон: {{ currentUser.getPhone }}
                </p>
            </div>

            <div class="after-info">
                <div class="my-events">
                    <p>Мои мероприятия:</p>

                    {% for eventId, eventType in registeredEvents %}
                        {% set event = attribute(eventRepository, "find", [eventId]) %}
                        <a href="/view-event/{{ event.getId }}">
                            {{ event.getName }}
                        </a>
                        {% for point in eventType.simple %}
                            <a href="/view-point/{{ point.getId }}">
                                <p class="ml-3">- {{ point.getName }}</p>
                            </a>
                        {% endfor %}

                        {% if ((eventType.complex | keys).0) is not null %}
                            {% set point = attribute(pointRepository, "find", [(eventType.complex | keys).0]) %}
                            <a href="http://192.168.0.95/view-complex-event-points/{{ point.getId }}">
                                <p class="ml-3">
                                    {{ point.getName }}
                                </p>
                            </a>
                            {% for key, point in eventType.complex %}
                                <a href="/view-point/13/{{ point.getName }}">
                                    <p class="ml-6">- {{ point.getName }}</p>
                                </a>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>

                {# <div> #}
                {# <p>Оставить фидбэк</p> #}
                {# </div> #}

                {# <div> #}
                {# <div class='text-center'> #}
                {# <button class='reg-button btn btn-primary btn-lg mb-5'> #}
                {# <a href='/getDiplom/{{ currentUser.getId }}/{{ point.getEventId }}'> #}
                {# <p>Получить диплом</p> #}
                {# </a> #}
                {# </button> #}
                {# </div> #}
                {# </div> #}

            </div>

        {% endif %}


        {# <div class="my-qr"> #}
        {# #}{# <?php $imgSrc = ('https://api.qrserver.com/v1/create-qr-code/?data=' . $currentUser->getId() . #}
        {# #}{# '&size=150x150') ?> #}
        {# #}{# <img src="<?php echo $imgSrc ?>" alt="qr-code"/> #}
        {# <img src="https://api.qrserver.com/v1/create-qr-code/?data={{ currentUser.getId }}&size=150x150" #}
        {# alt="qr-code"/> #}
        {# </div> #}


        {# <div class='qr-decoder'> #}
        {# <form enctype="multipart/form-data" action="" method="POST"> #}
        {# <input type="hidden" name="MAX_FILE_SIZE" value="1048576"/> #}
        {# Расшифровать QR-код: <input name="file" type="file"/> #}
        {# <input type="submit" name="readQr" value="Read QR code"/> #}
        {# </form> #}
        {# </div> #}


        {% if userPermission == 3 %}

            <div>
                <form action="" method="post">
                    <div class='login-fields'>
                        <input type="text" name="eventName" placeholder="Название мероприятия"
                               value="{{ postData.eventName ?: null }}">

                        {% if eventValidationErrors.name is not empty %}
                            <div>
                                {% for key, error in eventValidationErrors.name %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}


                        <input type="text" name="eventDescription" placeholder="Описание мероприятия"
                               value="{{ postData.eventDescription ?: null }}">

                        {% if eventValidationErrors.description is not empty %}
                            <div>
                                {% for key, error in eventValidationErrors.description %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}


                    </div>
                    <div class="text-center">
                        <button class="reg-button btn btn-primary btn-lg mt-5" type="submit" name="addEvent">Добавить
                            мероприятие
                        </button>
                    </div>
                </form>
            </div>


            {% if events is not null %}
                <div>
                    <form action="" method="post">
                        <div class='login-fields'>
                            <select name="eventId">
                                {% for key, event in events %}
                                    <option value={{ event.getId }}>{{ event.getName }}</option>
                                {% endfor %}
                            </select>

                            <input type="text" name="pointName" placeholder="Название этапа"
                                   value="{{ postData.pointName ?: null }}">

                            {% if pointValidationErrors.name is not empty %}
                                <div>
                                    {% for key, error in pointValidationErrors.name %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}


                            <input type="text" name="pointDescription" placeholder="Описание этапа"
                                   value="{{ postData.pointDescription ?: null }}">

                            {% if pointValidationErrors.description is not empty %}
                                <div>
                                    {% for key, error in pointValidationErrors.description %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}


                        </div>
                        <div class="text-center">
                            <button class="reg-button btn btn-primary btn-lg mt-5" type="submit" name="addPoint">
                                Добавить
                                этап
                            </button>
                        </div>
                    </form>
                </div>
            {% endif %}

            <div>
                <form action="" method="post">
                    <div class='login-fields'>
                        <select name="eventId">
                            {% for key, event in events %}
                                <option value={{ event.getId }}>{{ event.getName }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class="text-center">
                        <button class="reg-button btn btn-primary btn-lg mt-5" type="submit" name="deleteEvent">
                            Удалить мероприятие
                        </button>
                    </div>
                </form>
            </div>

            <div>
                <form action="" method="post">
                    <div class='login-fields'>
                        {# <select name="eventId"> #}
                        {# {% for key, event in events %} #}
                        {# <option value={{ event.getId }}>{{ event.getName }}</option> #}
                        {# {% endfor %} #}
                        {# </select> #}

                        <select name="pointId">
                            {% for key, point in points %}
                                <option value={{ point.getId }}>({{ point.getEventId }}) -> {{ point.getName }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class="text-center">
                        <button class="reg-button btn btn-primary btn-lg mt-5" type="submit" name="deletePoint">
                            Удалить этап
                        </button>
                    </div>
                </form>
            </div>


        {% endif %}

    </div>

{% endblock %}