{% extends 'layout.twig' %}

{% block title %}
    Error
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<body>
<p>
    Message:
    {{ e.getMessage }}
</p>


<p>
    Code:
    {{ e.getCode }}
</p>

<p>
    File name:
    {{ e.getFile }}
</p>
<p>
    Line:
    {{ e.getLine }}
</p>
<p>
    Trace:
    {{ e.getTraceAsString }}
</p>


{% if e.getPrevious is not empty %}
    <p>
        Previous:

    <p>
        Message:
        {{ e.getPrevious.getMessage }}
    </p>

    <p>
        Code:
        {{ e.getPrevious.getCode }}
    </p>

    <p>
        File name:
        {{ e.getPrevious.getFile }}
    </p>
    <p>
        Line:
        {{ e.getPrevious.getLine }}
    </p>
    <p>
        Trace:
        {{ e.getPrevious.getTraceAsString }}
    </p>

{% endif %}

{% endblock %}
