{% extends "layout/layout.twig" %}

{% block content %}
    <div class="container d-flex align-items-center">
        <div class="reg-background">
            <div class="reg-text text-center">
                <h1> Регистрация</h1>
            </div>


            <form name="formName" class="needs-validation" method="post" action="" novalidate>


                <div class="mb-3">
                    <label for="lastName" class="form-label">Фамилия*</label>
                    <input type="text" class="form-control" id="lastName" name="lastName"
                           value="{{ postData.lastName ?: null }}" maxlength="30" required>
                    <div class="invalid-feedback">
                        Необходимо указать Фамилию
                    </div>

                    <div>
                        {% if validationErrors.lastName is not null %}
                            {% for key, valErr in validationErrors.lastName %}
                                {{ valErr }}
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Имя*</label>
                    <input type="text" class="form-control" name="firstName"
                           value="{{ postData.firstName ?: null }}" maxlength="30" required>
                    <div class="invalid-feedback">
                        Необходимо указать Имя
                    </div>

                    <div>
                        {% if validationErrors.firstName is not null %}
                            {% for key, valErr in validationErrors.firstName %}
                                {{ valErr }}
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>

                <div class="mb-3">
                    <label for="patronymic" class="form-label">Отчество</label>
                    <input type="text" class="form-control" id="patronymic" maxlength="30" name="patronymic"
                           value="{{ postData.patronymic ?: null }}">
                </div>

                <div class="mb-3">
                    <label for="university" class="form-label">Вуз*</label>
                    <input type="text" id="university" class="form-control" maxlength="30" name="university"
                           value="{{ postData.university ?: null }}" required>
                    <div class="invalid-feedback">
                        Необходимо указать Вуз
                    </div>

                    <div>
                        {% if validationErrors.university is not null %}
                            {% for key, valErr in validationErrors.university %}
                                {{ valErr }}
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>

                <div class="mb-3">
                    <label for="speciality" class="form-label">Специальность*</label>
                    <input type="text" id="speciality" class="form-control" maxlength="30" name="speciality"
                           value="{{ postData.speciality ?: null }}" required>
                    <div class="invalid-feedback">
                        Необходимо указать Специальность
                    </div>

                    <div>
                        {% if validationErrors.speciality is not null %}
                            {% for key, valErr in validationErrors.speciality %}
                                {{ valErr }}
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>

                <div class="mb-3">
                    <label for="studyYear" class="form-label">Курс*</label>
                    <input type="number" id="studyYear" class="form-control" name="studyYear"
                           value="{{ postData.studyYear ?: null }}" required>
                    <div class="invalid-feedback">
                        Необходимо указать Курс
                    </div>

                    <div>
                        {% if validationErrors.year is not null %}
                            {% for key, valErr in validationErrors.year %}
                                {{ valErr }}
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>

                <div class="mb-3">
                    <label for="phone" class="form-label">Телефон*</label>
                    <input type="text" id="phone" class="form-control" maxlength="12" name="phone"
                           value="{{ postData.phone ?: null }}" required>
                    <div class="invalid-feedback">
                        Необходимо указать Телефон
                    </div>

                    <div>
                        {% if validationErrors.phone is not null %}
                            {% for key, valErr in validationErrors.phone %}
                                {{ valErr }}
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Почта*</label>
                    <input type="email" id="email" class="form-control" maxlength="255" name="email"
                           value="{{ postData.email ?: null }}" required>
                    <div class="invalid-feedback">
                        Необходимо указать Почту
                    </div>

                    <div id="invalidCheck3Feedback" class="invalid-feedback">
                        Некорректная почта
                    </div>

                    <div>
                        {% if validationErrors.email is not null %}
                            {% for key, valErr in validationErrors.email %}
                                {{ valErr }}
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>

                <div class="mb-3">
                    <label for="pass" class="form-label">Пароль*</label>
                    <input type="password" id="pass" class="form-control" name="pass" maxlength="255"
                           value="{{ postData.pass ?: null }}" required>
                    <div class="invalid-feedback">
                        Необходимо указать Пароль
                    </div>

                    <div>
                        {% if validationErrors.password is not null %}
                            {% for key, valErr in validationErrors.password %}
                                {{ valErr }}
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>


                <!--            <div class="form-check mt-5">-->
                <!--                <input class="form-check-input" type="checkbox" name="pers_info_handling" id="pers_info_handling">-->
                <!--                <label for="pers_info_handling">-->
                <!--                    Согласен(на) на обработку персональных данных-->
                <!--                </label>-->
                <!--            </div>-->


                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" required>
                    <label class="form-check-label" for="flexCheckChecked">
                        Согласен(на) на обработку персональных данных
                    </label>
                    <div class="invalid-feedback">
                        Необходимо согласие на обработку персональных данных
                    </div>
                </div>

                <div class="text-center">
                    <button class="reg-button btn btn-primary btn-lg mt-5" type="submit" name="addStudent"
                            value="Register">Регистрация
                    </button>
                </div>

            </form>

        </div>


    </div>


    <script src="/assets/js/registrationValidation.js"></script>

{% endblock %}
